[MASTER]

# Specify the maximum number of nested blocks for function / method body
max-nested-blocks=5

# Enable logging of failed imports during the code check process
fail-under=10.0

[MESSAGES CONTROL]

# Enable warning messages for all kinds of errors, including those which are normally ignored by pylint.
enable=unused-import, unused-variable, unused-argument, redefined-outer-name, missing-module-docstring, missing-function-docstring

[REPORTS]

# Set the output format for messages. "text" is a human-readable format.
output-format=text

[BASIC]

# Method could be a function
suggestion-mode=final

# Set the output format for reports. "no" means no reports will be written.
reports=no

[TYPECHECK]

# Define whether we should check for member availability when accessing a member
ignored-modules=_

# Set the number of processes to use for concurrent processing. This is set to 2 by default.
jobs=2

[VARIABLES]

# Enables global-over-riding
enable=I

# Set a blacklist for variable names.
bad-names=i,j,k

[FORMAT]

# Specify a comma-separated list of builtins function names that should not be used, separated by a comma. 
# Use to suppress false-positive 'W0611:Unused import %s'
bad-functions=map,filter,apply,zip

# Maximum number of characters on a single line.
max-line-length=120

[LOGGING]

# Disable the logging of imports which are considered useless
disable=logging-fstring-interpolation, logging-too-many-args, logging-not-lazy

[DESIGN]

# Set the threshold for the McCabe Complexity Checker
max-complexity=10

[IMPORTS]

# Allow wildcard imports from a package
allow-wildcard-in-except=yes

# Allow wildcard imports from a module
allow-wildcard-import=yes

# Allow import of all modules
ignore-init-module=yes
